<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" media="screen and (max-width : 768px)" href="static/css/phone.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>about</title>
</head>

<body>
    <nav class="navbar backgroundnav h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <img src="static/img/img.png" alt="logo">
            </div>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>

        </ul>

        <div class="rightNav v-class-resp">
            <input type="text" name="Search" id="search">
            <button class="btn btn-sm">Search</button>

        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

    <h2 class="text-center" style="color: rgb(0, 0, 0);">About</h2>
    <section class="main_about">
        <div class="about_img">
            <img src="/static/img/logo.png" alt="">
        </div>


        <div class="about_para">
            <h1>NS Tuts</h1>


            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, ab velit ipsam ratione dolor laborum obcaecati repellendus animi est, fugiat fuga, natus assumenda quos? Dolor reiciendis iusto architecto. Id molestiae excepturi voluptates
                impedit placeat!</p>

            <div class="about_social">
                <a href="" class="social_icon"><i class="fab fa-instagram"></i></a>
                <a href="" class="social_icon"><i class='fab fa-youtube'></i></a>
                <a href="" class="social_icon"><i class='fab fa-linkedin'></i></a>
            </div>
        </div>
    </section>


    <footer>

        <div class="footerdiv">
            <p class="text-footera">
                Copyright &copy; 2021 NS Tuts All rights reserved
            </p>

        </div>


    </footer>


</body>

</html>