<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" media="screen and (max-width : 768px)" href="static/css/phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="icon" href="static/img/img.png"  />
<link rel="shortcut icon" href="static/img/img.png"  />
    <title>NS Tuts</title>
</head>

<body>
    <nav class="navbar backgroundnav h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <img src="static/img/img.png" alt="logo">
            </div>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>

        </ul>

        <div class="rightNav v-class-resp">
            <input type="text" name="Search" id="search">
            <button class="btn btn-sm">Search</button>

        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

    <h2 class="text-center" style="color: rgb(0, 0, 0);">About</h2>
    <div class="under">
            
    </div>
    <section class="main_about">
        <div class="about_img">
            <img src="/static/img/logo.png" alt="">
        </div>


        <div class="about_para">
            <h1>NS Tuts</h1>


            <p>NS Tuts is a website and a youtube channel by <span style="font-weight: bold;">Nihal Nilesh Sarmalkar</span> for tech enthusiast. This is a platform where in computer science related topics are being discussed
                .Videos ,Solutions and project of various topics are uploaded here. </p>
            <p>Blogs of topic related to tech will frequently be uploded on the website . </p>

            <br>
        </div>
    </section>


    <footer>

        <div class="footer_container">
            <div class="socials text-footer">
                <i class="fa fa-instagram" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-linkedin" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-facebook" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-twitter" style="font-size:20px;padding: 10px;"></i>
            </div>

            <div class="footer_links">
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-and-conditions">Terms and Condition</a>
            </div>
            <div class="footerdiv">
                <p class="text-footer">
                    Copyright &copy; 2021 NS Tuts All rights reserved
                </p>
    
            </div>

        </div>

        


    </footer>
    <script src="/static/js/resp.js"></script>


</body>

</html>