<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" media="screen and (max-width : 768px)" href="{{url_for('static',filename='css/phone.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
    <title>NS Tuts</title>
</head>

<body>
    <nav class="navbar backgroundnav h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <img src="{{url_for('static',filename='img/img.png') }}" alt="logo">
            </div>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>

        </ul>

        <div class="rightNav v-class-resp">
            <input type="text" name="Search" id="search">
            <button class="btn btn-sm">Search</button>

        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>


    <h2 class="text-center" style="color: rgb(0, 0, 0);">Blog Post</h2>
    <div class="post-img">
        {% set fname = 'img/' + post.img_file %}
        <img src="{{url_for('static',filename=fname) }}" alt="">
    </div>
    <div class="m-auto blog-post-content max-width-2 m-auto my-2">
        <h1 class="font1">{{post.title}}</h1>
        <div class="blogpost-meta">
            <div class="author-info">
                <div>
                    <b>
                  Tagline - {{post.tagline}}
                </b>
                </div>
                <div>{{post.date}}</div>
            </div>

        </div>
        <p class="font1">{{post.content | safe}}</p>
        <br>
        <p class="font1">{{post.content1 | safe}}</p>
        <div class="post-img-small">
            {% set fname = 'img/' + post.img_file_s %}
            <img src="{{url_for('static',filename=fname) }}" alt="">
        </div>
        <p class="font1">{{post.content2 | safe}}</p>
        <br>
        <p class="font1">{{post.content3 | safe}}</p>
        <br>



    </div>


    <hr>
    <div class="home-articles max-width-1 m-auto font2">
        <h2 style="text-align: center;">People who read this also readed</h2>
        <div class="row">
            {% for post in posts %}
            <div class="home-article more-post">
                <div class="home-article-img">
                    {% set fname = 'img/' + post.img_file %}
                    <img src="{{url_for('static',filename=fname) }}" alt="article">
                </div>
                <div class="home-article-content font1 center">
                    <a href="/blogpost.html">
                        <h3>{{post.title}}</h3>
                    </a>

                    <div>{{post.tagline}}</div>
                    <span style="color: rgb(131, 131, 131);">{{post.date}}</span>
                    <br> {{post.content[0:50]}} ...
                    <div>
                        <a href="/blogpost/{{post.slug}}"><button class="readmore_button">read more</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <span style="font-weight: bolder;"></span>



    <footer>

        <div class="footerdiv">
            <p class="text-footer">
                Copyright &copy; 2021 NS Tuts All rights reserved
            </p>

        </div>

    </footer>


</body>

</html>