<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" media="screen and (max-width : 768px)" href="/static/css/phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/img/img.png"  />
<link rel="shortcut icon" href="static/img/img.png"  />
    <title>NS Tuts</title>
</head>

<body>
    <nav class="navbar backgroundnav h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <img src="static/img/img.png" alt="logo">
            </div>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>

        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="Search" id="search">
            <button class="btn btn-sm">Search</button>

        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

    <h2 class=" text-center " style="color: rgb(0, 0, 0); font-size: 25px;">Contact Us</h2>
    <h4 class=" text-center " style="color: rgb(53, 52, 52); font-size: 15px;">If you have any queries, please do not hesitate to contact us by filling up the form given below.</h4>
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            {% for i in messages%}
                <div class="alert" style="background-color: #5cf436;">
                    
                    <strong>Sucess !</strong> {{i}}.
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                </div>
                
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    

   



    <div class="grid_contact">

        <form action="/contact" method="post">

            <div class="form">
                <label for=" ">Name</label>

                <input type="text " name="name" id="name " placeholder="Enter your name " required data-validation-required-message="Please enter your name.">
                <label for=" ">Mobile number</label>
                <input type="text " name="phone" id="name " placeholder="Enter Your mobile number " required data-validation-required-message="Please enter your phone number.">
                <label for=" ">Mail id</label>
                <input type="text " name="email" id="name " placeholder="Enter mail id " required data-validation-required-message="Please enter your email address.">
                <label for=" ">Message</label>

                <textarea name="message" id="name" cols="30" rows="10" placeholder="Enter message " required data-validation-required-message="Please enter a message."></textarea>
                <button class="readmore_button">Submit</button>
            </div>

        </form>


    </div>


    <footer>

        <div class="footer_container">
            <div class="socials text-footer">
                <i class="fa fa-instagram" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-linkedin" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-facebook" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-twitter" style="font-size:20px;padding: 10px;"></i>
            </div>

            <div class="footer_links">
                <a href="">Privacy Policy</a>
                <a href="">Terms and Condition</a>
            </div>
            <div class="footerdiv">
                <p class="text-footer">
                    Copyright &copy; 2021 NS Tuts All rights reserved
                </p>
    
            </div>

        </div>

        


    </footer>


</body>

</html>