<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" media="screen and (max-width : 768px)" href="static/css/phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="static/img/img.png"  />
<link rel="shortcut icon" href="static/img/img.png"  />
    <title>NS Tuts</title>
</head>

<body>
    <nav class="navbar backgroundnav h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <img src="static/img/img.png" alt="logo">
            </div>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>

        </ul>
        <div class="rightNav v-class-resp">
            <input type="text" name="Search" id="search">
            <button class="btn btn-sm">Search</button>
            <a href="/dashboard"><button class="btn btn-sm">Login</button></a>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

   
        
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
            {% for i in messages%}
            <div class="alert_container">
                <div class="alert1" >
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <br>
                    <br>
                    <iframe  src="https://www.youtube-nocookie.com/embed/PB_zGBsHVQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h1  style="text-align: center;color: black;">{{i}}</h1> 
                    
                </div>

            </div>

                
                
            {% endfor %}
        {% endif %}
    {% endwith %}

    <section class="background firstSection" id="home">
        <div class="box-main">
            <div class="firstHalf">
                <p class="test-big test-bigtop">NS Tuts
                </p>
                <p class="test-small test-smalltop">NS Tuts is a youtube channel were computer science related videos are uploaded. Solutions of almost all the HackerRank question and Machine Learning projects are available on the channel.
                </p>
                <div class="buttons">
                    <a href="https://www.youtube.com/c/NSTuts/featured" target="_blank"><button class="btn btnred">Subscribe</button></a>

                    <a href="https://www.youtube.com/watch?v=PB_zGBsHVQI&t=240s" target="_blank"><button class="btn">Like ♥</button></a>


                </div>
            </div>
            <div class="secondHalf">
                <img src="static/img/img.png" alt="">
            </div>

        </div>

    </section>


    
    <div class="headings sub_heading">
        <h2>Featured Articles</h2>
        <br>
        <div class="under">
            
        </div>
    </div>

    <section class="blog section">

        <div class="home-articles max-width-1 m-auto font2">
            {% for post in posts[:4] %}
            <div class="home-article">

                <div class="home-article-img">
                    {% set fname = 'img/' + post.img_file %}
                    <img src="{{url_for('static',filename=fname) }}" alt="article">
                </div>
                <div class="home-article-content font1">
                    <a href="/blogpost/{{post.slug}}">
                        <h3>{{post.title}}</h3>
                    </a>

                    <div>{{post.tagline}}</div>
                    <span style="color: rgb(131, 131, 131);">{{post.date}}</span>
                    <br> {{post.content[0:50] | safe}} ...
                    <div>
                        <a href="/blogpost/{{post.slug}}"><button class="readmore_button">read more</button></a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

    </section>
    <br>
    

    <section id="contents_container">
        
        <div class="content_container">
            <div class="row_1">
                <div class="column_1">
                    <div class="content">
                        <h2 style="text-align: center;color: white;">Digit Recognition</h2>
                                <div class="para_content">
                                    <p style="color: white;">Hands-on implementation to recognize handwritten digits in python using tensorflow.</p>
                                </div>
                                <div class="link_container">
                                    <a href="/projectpage" style="color: white;">Source code <i class="fas fa-angle-right"></i></a>

                                </div>
                                
                    </div>
                    
                    
                                
                </div>
                <div class="column_2">
                    
                    <div class="content">
                        <h2 style="text-align: center;" >Internet Speed Test</h2>
                        <div class="para_content">
                            <p  >A web app that calculates the internet speed and ping of your network.</p>
                        </div>
                        <div class="link_container">
                            <a href="/projectpage_2">Source code <i class="fas fa-angle-right"></i></p></a>

                        </div>

                    </div>
                                
                </div>
                <div class="column_3" style="background-color: #e4e4e4;">
                    
                    <div class="content ">
                        <h2 style="text-align: center;">Flask CRUD App</h2>
                                <div class="para_content">
                                    <p >A Flask web app with create, read, update and delete functionality and hosted on heroku</p>
                                </div>
                                <div class="link_container">
                                    <a href="https://github.com/NihalSarmalkar/To-do-Task-flask-">Source code <i class="fas fa-angle-right"></i></a>

                                </div>
                                
                    </div>
                                
                </div>
            </div>
        </div>
    </section>
   
    


    <section class="services-countainer" id="services">
        <div class="headings sub_heading">
            <h2>Services</h2>
            <br>
            <div class="under">
            
            </div>
        </div>
        <div id="bodycardd">
            <div class="bodycard">
                <div class="container">
                    <div class="card" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static/img/python-logo1.jpg" alt="Avatar" style="border-radius: 50%;
                                width: 100px;
                                margin: 15px;
                                border: 1px solid;">

                                <h3>Python</h3>
                                <div class="para_content">
                                    <p>Solution videos of python HackerRank questions are available on my youtube channel.</p>
                                </div>
                                <br>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y66M3lq9lEYlO2oLKHE0wav" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static/img/python-logo1.jpg" alt="Avatar" style="border-radius: 50%;
                                width: 100px;
                                margin: 15px;
                                border: 1px solid;">


                                <h3>Digit Recognition</h3>
                                <div class="para_content">
                                    <p>Hands-on implementation to Recognize handwritten digits in python using Tensorflow library and Mnist data set.</p>
                                </div>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y66M3lq9lEYlO2oLKHE0wav" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static/img/Cpp_logo.png" alt="Avatar" style="border-radius: 50%;
                                width: 100px;
                                margin: 15px;
                                border: 1px solid;">


                                <h3>C++</h3>
                                <div class="para_content"><p>Solution videos of C++ HackerRank questions are available on youtube channel.</p></div>
                                <br>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y75mQc2kyXHulDhtx41z-wh" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static/img/Cpp_logo.png" alt="Avatar" style="border-radius: 50%;
                                width: 100px;
                                margin: 15px;
                                border: 1px solid;">


                                <h3>C++</h3>
                                <div class="para_content"><p>Solution videos of C++ HackerRank questions are available on youtube channel.</p></div>
                                <br>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y75mQc2kyXHulDhtx41z-wh" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>


    <section id="contents_container">
        <div class="headings sub_heading">
            <h2>Contents</h2>
            <br>
            <div class="under">
            
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="content_container">
            <div class="row_1">
                <div class="column_1">
                    <div class="content">
                        <h2 style="text-align: center;color: white;">Python</h2>
                                <div class="para_content">
                                    <p style="color: white;">Solution videos of python HackerRank questions are available on youtube channel.</p>
                                </div>
                    </div>
                    
                    
                                
                </div>
                <div class="column_2">
                    
                    <div class="content">
                        <h2 style="text-align: center;" >Machine Learning</h2>
                        <div class="para_content">
                            <p  >Machine Learning videos such as digit recognition and carval are available on youtube channel.</p>
                        </div>

                    </div>
                                
                </div>
                <div class="column_3">
                    
                    <div class="content">
                        <h2 style="text-align: center;color: white;">Problem Solving</h2>
                                <div class="para_content">
                                    <p style="color: white;">Solution videos of Problem Solving hackerRank questions are available on youtube channel.</p>
                                </div>
                    </div>
                                
                </div>
            </div>

            <div class="row_2">
                <div class="column_4">
                    <div class="content">
                        <h2 style="text-align: center;" >SQL</h2>
                        <div class="para_content">
                            <p  >Solution videos of SQL HackerRank questions are available on youtube channel.</p>
                        </div>

                    </div>
                    
                </div>
                <div class="column_5">
                    <div class="content">
                        <h2 style="text-align: center;color: white; font-weight: bold;">Java</h2>
                                <div class="para_content">
                                    <p style="color: white;">Solution videos of Java HackerRank questions are available on youtube channel.</p>
                                </div>
                    </div>
                </div>
                <div class="column_6">
                    <div class="content">
                        <h3 style="text-align: center;" >C++</h3>
                        <div class="para_content">
                            <p  >Solution videos of C++ HackerRank questions are available on youtube channel.</p>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </section>



    <!-- <section class="project_section">
        <div class="headings sub_heading">
            <h2>Projects</h2>
        </div>
        
        <div id="bodycardd bodycardd2">

            <div class="bodycard2">
                
                <div class="container">
                    <div class="card" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content content2">
                                <img src="static/img/speed test python.jpeg" alt="Avatar"  >
                                <br>
                                <div class="content2_heading">
                                    <h3 >Internet Speed Test</h3>

                                </div>

                                
                                
                                <a href="/projectpage" target="_blank">Source Code</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content content2">
                                <img src="static/img/digit recognition.jpeg" alt="Avatar"  >
                                <br>


                                <div class="content2_heading">
                                    <h3 >Digit Recognition</h3>

                                </div>
                               
                                <a  href="/projectpage" target="_blank">Source code</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content content2">
                                <img src="static/img/responsive web.jpeg" alt="Avatar" >
                                <br>
                                <div class="content2_heading">
                                    <h3  >Responsive Website</h3>

                                </div>


                               
                                
                                <a href="/projectpage_3" target="_blank">Source Code</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div> -->

        <!-- <div class="top_row">
            <div class="cardpro">
                <img src="static/img/digit recognition.jpeg" alt="John" style="width:100%">
                <h1>Digit Recognition</h1>
                <p class="title">By using python</p>
                <br>
                <button>Watch</button>
                <br>
                <br>
                <a href="/projectpage"><button>Source code</button></a>
            </div>
            <div class="cardpro">
                <img src="static/img/speed test python.jpeg" alt="John" style="width:100%">
                <h1>Internet Speed Test</h1>
                <p class="title">By using python</p>
                <br>
                <button>Watch</button>
                <br>
                <br>
                <a href="/projectpage_2"><button>Source code</button></a>
            </div>
            <div class="cardpro">
                <img src="static/img/responsive web.jpeg" alt="John" style="width:100%">
                <h1>Responsive Website</h1>
                <p class="title">By using HTML and CSS</p>
                <br>
                <button>Watch</button>
                <br>
                <br>
                <a href="/projectpage_3"><button>Source code</button></a>
            </div>
        </div> -->
    <!-- </section>
    <br> -->
    
    

    

    <!-- <section class="section left">

        <div class="paras">
            <p class="sectionTag test-big">Python<i class="fab fa-python"></i></p>

            <p class="sectionsubTag test-small" style="padding: 15px;"> All Python HackerRank question solution are available on the channel. Also Machine Learning python project video of Digit Recognition is uploaded on NS Tuts </p>
        </div>
        <div class="thumbnail">
            <img src="static/img/python-logo1.jpg" alt="laptop image" class="imgFluid">
        </div>

    </section>
    <br>

    <section class="section left">
        <div class="paras">
            <p class="sectionTag test-big">C++<i class="fab fa-cplusplus"></i></p>

            <p class="sectionsubTag test-small" style="padding: 15px;">Solution videos of C++ HackerRank questions are available on my youtube channel. More C++ related content will be uploaded soon</p>
        </div>
        <div class="thumbnail">
            <img src="static/img/Cpp_logo.png" alt="laptop image" class="imgFluid">
        </div>

    </section>
    <br>

    <section class="section left">
        <div class="paras">
            <p class="sectionTag test-big">Java<i class="fab fa-java"></i></p>

            <p class="sectionsubTag test-small" style="padding: 15px;">Solution videos of Java HackerRank questions are available on my youtube channel. Also java for android studio playlist will be uploaded soon </p>
        </div>
        <div class="thumbnail">
            <img src="static/img/java_logo.png" alt="laptop image" class="imgFluid">
        </div>
    </section> -->



    <div class="headings sub_heading">
        <h2>testimonials</h2>
        <br>
        <div class="under">

        </div>
    </div>
    <br>
    <br>


    <div class="testimonials-section">
        
      <div class="slider__inner">
        <div class="slider__contents">
          <quote>&rdquo;</quote>
          <p class="slider__txt">It's easy to understand, Good explanation and proper code. Greate and easy machine learning projects to understand</p>
          <h2 class="slider__caption">Rhonda | NylonCraft</h2>
        </div>
        <div class="slider__contents">
          <quote>&rdquo;</quote>
          <p class="slider__txt">Love you guys.The explanation was really easy to understand. i appereciate your hardwork and good going. </p>
          <h2 class="slider__caption">Jared | Rexam</h2>
        </div>
    
      </div>
    </div>


    <br>
    <br>





    <footer>

        <div class="footer_container">
            <div class="socials text-footer">
                <i class="fa fa-instagram" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-linkedin" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-facebook" style="font-size:20px;padding: 10px;"></i>
                <i class="fa fa-twitter" style="font-size:20px;padding: 10px;"></i>
            </div>

            <div class="footer_links">
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-and-conditions">Terms and Condition</a>
            </div>
            <div class="footerdiv">
                <p class="text-footer">
                    Copyright &copy; 2021 NS Tuts All rights reserved
                </p>
    
            </div>

        </div>

        


    </footer>
    <script src="/static/js/resp.js"></script>
</body>

</html>